# Ignore node_modules directory
node_modules

# Ignore build artifacts
build
dist

# Ignore npm log files
npm-debug.log*

# Ignore editor-specific files
.vscode
.idea

# Ignore test coverage reports
coverage

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore dependency lock files
package-lock.json
yarn.lock

# Ignore any other files or directories specific to your development environment
