.input2 {
    width: 250px; /* Set initial width to 0 */
    padding: 8px; /* Adjust padding as needed */
    border: 0.5px solid green; /* Set border color to green */
    border-radius: 10px; /* Add border radius for curved edges */
    outline: none;
    transition: width 0.3s ease-in-out; /* Add a transition for the width property */
  }
  
  .input2:focus {
    border-color: darkgreen; /* Change border color on focus */
  }